# Core
Flask==3.0.0
Werkzeug==3.0.1

# ML / Model
tensorflow==2.16.1
numpy==1.26.4

# Image processing
Pillow==10.1.0
opencv-python==4.9.0.80

# Explainable AI
lime==0.2.0.1
scikit-image==0.22.0
matplotlib==3.8.3

# Utilities
scikit-learn>=1.3.0
